@font-face {
   font-family: 'bernier';
   src: url('~fonts/bernier/bernierregular-regular-webfont.woff2') format('woff2'),
        url('~fonts/bernier/bernierregular-regular-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'roboto';
   src: url('~fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
        url('~fonts/roboto/roboto-light-webfont.woff') format('woff');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'roboto';
   src: url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
        url('../fonts/roboto/roboto-regular-webfont.woff') format('woff');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'roboto';
   src: url('../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
        url('../fonts/roboto/roboto-medium-webfont.woff') format('woff');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'roboto';
   src: url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
        url('../fonts/roboto/roboto-bold-webfont.woff') format('woff');
   font-weight: 700;
   font-style: normal;
}