header {
   background: $green;
   padding: 20px;
   display: flex;
   align-items: center;
}

.title {
   color: #fff;
   font-size: 28px;
   @include ff-main(500);
}

.logout {
   margin-left: auto;
   color: rgba(#fff, .7);
}